@import "../../scss/lib";

photo-gallery{
  padding-top: 30px;


  h1 {
    font-size: 32px;
    color: rgba(0,0,0,.85);
    padding: 25px 0 0;
    text-align: center;
  }

  figure {
    height: 260px;
    padding: 15px;
    float: left;
    text-align: center;
    background: #f5f8fa;
    background-clip: content-box;

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }

}